.profile_section,.about{
    background-color: #1abc9c;
    color: white;
}

.avatar{
    width: 270px;
}

h1{
    font-weight: 600;
    font-size: 2.5rem;
}

.star_line{
    height: 3px;
    background-color: white;
    
}

h2{
    font-size: 1.2rem;
    font-weight: 600;
}

.portfolio{
    background-color: white;
    color: black;
}

h3{
    font-size: 1.6rem;
    font-weight: 600;
}

p{
    font-size: 1.25rem;
    font-weight: 600;
}

.contact_me p{
    font-size: 1.3;
    font-weight: 500;
}

button{
    background-color: #1abc9c;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 1.3rem;
    font-weight: 600;
}

.line{
    background-color: #cccccc;
    height: 2px;
    width: 100%;
}